* {
    box-sizing: border-box;
    text-align: center;
  }
  body {
      align-items: center
    }

  header {
     padding: 20px;
        margin-bottom: 10px;
    }
  
  nav {
      padding: 20px;
      margin-bottom:20px;
    }

  section {
        float: left;
        width: 58%;
        height: 300px;
        padding: 20px;
        text-decoration-color: white;
        background: #ebebeb;
        border: 1px solid #eee;
        clear: both;
        margin-right: 5px;
    }

    h1,h2,h3 {
        clear: both;
    }

    p {
        background-color: #ebebeb
    }

    article {
        float: center; 
        width: 25%;
    }

    aside {
        float: right;
        width: 40%;
        height: 300px;
        padding: 20px;
        text-decoration-color: white;
        background: #ebebeb
    }

  footer {
      padding: 20px;
      clear: both;
      margin-top: 30px;
  }